@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.container {
  background-color: #57b1a3;
  padding: 15px 9%;
  padding-bottom: 100px;
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.container .box-container .box {
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  padding: 30px 20px;
}
.container .box-container .box img {
  height: 80px;
}

.container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 15px 0;
}

.container .box-container .box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box a {
  margin-top: 10px;
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.container .box-container .box a:hover {
  letter-spacing: 1px;
}

.container .box-container .box:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media (max-width: 564px) {
  .container .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 20px;
  }
}

@media (max-width: 438px) {
  .container .box-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 20px;
  }
}
